* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  line-height: 1.5;
}

html,
body {
  //scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-size: $font-size-m;
  line-height: 1.5;
  color: $color-1;
  font-weight: $font-weight-4;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: $color-2;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  line-height: 0;
}

figure {
  line-height: 0;
}

button,
input[type='submit'] {
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* for overlay errors*/
#__parcel__error__overlay__,
#__parcel__error__overlay__ * {
  color: #ffeb3b;
}
