$color-1: #2d2d2d;
$color-2: #90a4af;
$color-3: #e6e9f0;
$color-4: #f4f6fb;
$color-5: #ffffff;
$color-6: #f28d00;
$color-7: #f04438;
$color-8: #2d9cdb;
$color-9: #038bd7;

$font-family: Manrope, Helvetica, sans-serif;

$font-size-h1: 5.6rem;
$font-size-h2: 4.6rem;
$font-size-h3: 2.8rem;
$font-size-h4: 2.2rem;

$font-size-x: 1.8rem;
$font-size-m: 1.6rem;
$font-size-s: 1.4rem;
$font-size-xs: 1.2rem;
$font-size-xxs: 1rem;
$font-size-xxxs: 0.8rem;

$font-weight-8: 800;
$font-weight-7: 700;
$font-weight-6: 600;
$font-weight-5: 500;
$font-weight-4: 400;
$font-weight-3: 300;
$font-weight-2: 200;

$desktop-x: 1920px;
$desktop-m: 1280px;
$desktop-s: 1240px;
$desktop-xs: 1200px;

$tablet-x: 1112px;
$tablet-m: 991px;
$tablet-s: 767px;

$mobile-x: 479px;
$mobile-m: 375px;
$mobile-s: 320px;
