.form-search {
  position: relative;
}

.form-search__input {
  padding: 20px;
  font-size: $font-size-m;

  /* 479 */
  @include media-mobile-x {
  }
}

.form-search__result {
  width: 100%;
  max-height: 200px;
  border: 1px solid $color-2;
  border-radius: 6px;
  @extend %transition-2;

  overflow: auto;
  background-color: $color-5;

  position: absolute;
  top: 60px;

  opacity: 0;
  visibility: hidden;
  z-index: -10;
}

.form-search {
  &:hover {
    .form-search__result {
      opacity: 1;
      visibility: visible;
      z-index: 10;
    }
  }
}
