.cities {
  padding-top: 60px;
  padding-bottom: 60px;
}

.cities__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0 20px;

  @include media-desktop-m {
  }

  @include media-tablet-x {
    grid-template-columns: 1fr 1fr;
  }

  @include media-mobile-x {
    grid-template-columns: 1fr;
  }
}
