.container {
  width: 100%;
  max-width: $desktop-m;
  margin: 0 auto;
  padding: 0 20px;

  @include media-desktop-m {
    padding: 0 30px;
  }

  @include media-desktop-s {
    padding: 0 20px;
  }
}
